*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Raleway, sans-serif;
    background-color: #1E1E1E;
    color: #FFF;
    min-width: 375px;
    max-width: 1440px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

img {
    width: 100%;
}