/* Общие классы */
.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

/* Стилизация основных блоков */
.header,
.cover,
.lots,
.about,
.footer {
    padding: 0 50px;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    /*padding-top: 92px;
    padding-bottom: 92px;*/
    padding: 92px 50px 96px;
}

.cover {
    position: relative;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    padding: 165px 50px 50px;
    margin-bottom: 180px;
}

.lots {
    margin-bottom: 180px;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-bottom: 180px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 180px;
    padding-bottom: 90px;
}

/* Шапка */
.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 33px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 1px solid currentColor;
    text-underline-offset: 4px;
}

.header__link_active {
    border-bottom: none;
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 148px;
}

.header__logo-image {
    width: 100%;
}

.header__address {
    justify-self: end;
    max-width: 240px;
    font-style: normal;
    line-height: 1.35;
}

.address a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

/* Обложка */
.cover {
    padding: 165px 50px 51px;
    margin-bottom: 180px;
}

.cover__title {
    position: relative;
    z-index: 2;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
    margin-bottom: 127px;
}

.aligned-text {
    display: block;
    letter-spacing: 0.3em;
}

.aligned-text_center {
    text-align: center;
    margin: 7px 0;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 78px;
}

.cover__description-text {
    font-size: 22px;
    word-spacing: 17.7px;
    text-transform: uppercase;
    line-height: 127%;
}

.bet-button {
    background: transparent;
    border: 1px solid #FFF;
    color: #FFF;
    padding: 12px 32px;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
}

/* Секция с карточками */
.lots__heading {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 27px;
    padding-left: 40px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    margin-bottom: 30px;
    padding: 0;
}

.lots__card-list-item {
    flex: 1 1 300px;
    min-height: 450px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    height: 100%;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card__title {
    position: relative;
    z-index: 2;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-transform: uppercase;
    color: #FFF;
}

.card__text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    line-height: 120%;
    color: #FFF;
}

.lots__look-more-link {
    margin-left: 40px;
    color: inherit;
    text-decoration: none;
    text-underline-offset: 4px;
    border-bottom: 1px solid currentColor;
}

/* Секция "Об аукционе" */
.about {
    gap: 11px;
    margin-bottom: 180px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    margin: 0 auto;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    margin: 101px 0 100px;
}

.about__text {
    font-size: 20px;
    line-height: 1.2;
    gap: 25px;
}

.about__text p:first-child {
    margin-bottom: 25px;
}

/* Подвал */
.footer {
    padding: 180px 50px 90px;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer__menu-list-item {
    margin-bottom: 5px;
}

.footer__menu-link {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    text-underline-offset: 4px;
}

.footer__menu-link_active {
    border-bottom: none;
}

.footer__social-list {
    display: flex;
    gap: 49px;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-self: end;
}

.footer__social-link {
    display: block;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}